@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.12;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.12;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.12;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.12;
  }
  100% {
    opacity: 1;
  }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

@keyframes glowAnimation {
  0% {
    box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
  }
  50% {
    box-shadow: 0px 0px 40px 0px rgba(253, 93, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
  }
}
@-o-keyframes glowAnimation {
  0% {
    box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
  }
  50% {
    box-shadow: 0px 0px 40px 0px rgba(253, 93, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
  }
}
@-moz-keyframes glowAnimation {
  0% {
    box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
  }
  50% {
    box-shadow: 0px 0px 40px 0px rgba(253, 93, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
  }
}
@-webkit-keyframes glowAnimation {
  0% {
    box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
  }
  50% {
    box-shadow: 0px 0px 40px 0px rgba(253, 93, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
  }
}
.animate-glow {
  -webkit-animation: glowAnimation 3s infinite;
  -moz-animation: glowAnimation 3s infinite;
  -o-animation: glowAnimation 3s infinite;
  animation: glowAnimation 3s infinite;
}

@keyframes scaleUpDown {
  0% {
  }
  100% {
    transform: rotate(-8deg) scale(5);
  }
}
@-o-keyframes scaleUpDown {
  0% {
  }
  100% {
    transform: rotate(-8deg) scale(5);
  }
}
@-moz-keyframes scaleUpDown {
  0% {
  }
  100% {
    transform: rotate(-8deg) scale(5);
  }
}
@-webkit-keyframes scaleUpDown {
  0% {
  }
  100% {
    transform: rotate(-8deg) scale(5);
  }
}

.animate-scale-up-down {
  -webkit-animation: scaleUpDown 2s 1;
  -moz-animation: scaleUpDown 2s 1;
  -o-animation: scaleUpDown 2s 1;
  animation: scaleUpDown 2s 1;
}

@keyframes shake1 {
  10%,
  20%,
  60% {
    transform: translate3d(10px, 1px, 0);
  }

  30%,
  40% {
    transform: translate3d(-12px, -3px, 0);
  }
  50%,
  80% {
    transform: translate3d(-3px, -13px, 0);
  }
}

@keyframes shake2 {
  10%,
  20%,
  80% {
    transform: translate3d(-10px, -1px, 0);
  }

  30%,
  50% {
    transform: translate3d(-2px, 3px, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, -3px, 0);
  }
}

.card-duel-animation1 {
  animation: shake1 3.9s cubic-bezier(0.26, 0.67, 0.39, 0.77) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.card-duel-animation2 {
  animation: shake2 5.9s cubic-bezier(0.36, 0.97, 0.19, 0.57) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
