body {
    margin: 0;
}

.board{
    background-color: rgb(83, 83, 83);
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.play-area{
    background-color: rgb(24, 24, 24);
    width: 66vw;
    height: 33vh;
    margin: 8px;
    padding: 12px;
    justify-content: space-evenly;
    align-items: center;
    /* text-align:justify; */
}

/* .play-area:after {
    display:inline-block;
    width: 100%;
    content:'';
} */

.button-populate-cards{
    background-color: grey;
    border-style: none;
    border-radius: 5px;
    padding: 8px;
    transition: 0.5s;

}

.button-populate-cards:hover{
    background-color: honeydew;
    transition: 0.5s;

}

.button-populate-cards:active{
    background-color: rgb(171, 218, 144);
    transition: 0.2s;

}

.button-populate-cards:disabled{
    pointer-events: none;
}

.card{
    margin: 5px;
    width: 130px;
    height: 172.5px;
    display: inline-block;
    align-items: center;
    flex-grow: 1;
}

.rareBG{
    height: 100%;
    width: 100%;
    background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}