body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 100vw;
	z-index: 10;
}

::selection {
	background: transparent;
}

.board-bg {
	background-image: url('./media/cards-pngs-optimized/medium/back/tile.png');
	background-position: center center;
	background-repeat: repeat;
	opacity: 0.05;
	margin: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	pointer-events: none;
}

.board {
	background-color: rgb(24, 24, 24);
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.play-area {
	display: flex;
	flex-wrap: wrap;
	margin: 0 7vw;
}

.play-area-self {
	width: 59vw;
	height: 23vh;
	margin: 8px;
	padding: 12px;
}

.play-area-opponent {
	width: 59vw;
	height: 23vh;
	margin: 8px;
	padding: 12px;
}

.button {
	border-style: none;
	border-radius: 0.3rem;
	padding: 0.3rem;
	transition: 0.5s;
}

.buttons button:hover {
	background-color: rgb(137, 223, 245);
	transition: 0.5s;
}

.buttons {
	display: inline-block;
	margin: 0.5rem 0 0 0.5rem;
}

.button:active {
	background-color: rgb(195, 218, 94);
	transition: 0.2s;
}

.button:disabled {
	pointer-events: none;
}

.card {
	margin: 5px;
	/* width: 100px;
	height: 133px; */
	width: 130px;
	height: 173px;
	display: flex;
	border-radius: 4px;
	box-shadow: rgb(14, 14, 14) 3px 3px 9px;
	transition: 0.3s;
	border: 0.25rem solid gold;
	flex-direction: column;
	justify-content: space-between;
}

.card:hover {
	filter: brightness(1.2);
}

.common {
	/* filter: grayscale(0.36); */
}

.uncommon {
	/* filter: grayscale(0.4); */
}

.rare {
	/* box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.2); */
	/* filter: saturate(130%); */
}

.common-image-filter {
	filter: grayscale(0.7);
}

.uncommon-image-filter {
	filter: grayscale(0.2);
}

.rare-image-filter {
	filter: saturate(130%);
}

.common-card-stats {
	background-color: rgb(107, 107, 107);
}
.uncommon-card-stats {
	background-color: rgb(72, 139, 114);
}
.rare-card-stats {
	color: gold;
	text-shadow: 0 0 2px rgba(14, 14, 14, 0.8);
}

.common-card-rarity {
	color: rgb(14, 14, 14);
	text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 2px;
}
.uncommon-card-rarity {
	color: rgb(14, 14, 14);
	text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 2px;
}
.rare-card-rarity {
	color: gold;
	text-shadow: 0 0 2px rgba(14, 14, 14, 0.8);
}

.card-rarity {
	font-size: xx-small;
	font-weight: bold;
	text-align: left;
	pointer-events: none;
	margin: 2px 5px;
	visibility: hidden;
}

.card-stats {
	font-size: 0.8rem;
	font-weight: bold;
	text-align: left;
	pointer-events: none;
	display: flex;
	align-items: flex-end;
	height: 2rem;
	margin: 0;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

.card-details-area {
	font-size: x-small;
	color: rgb(226, 226, 226);
	text-align: left;
	pointer-events: none;
	margin: 5px 20px;
	position: fixed;
	bottom: 0;
}

.notification-area {
	z-index: 100;
	text-align: center;
	transition: 0.3s;
	color: rgb(226, 226, 226);
	font-size: 2rem;
	font-weight: 900;
	pointer-events: none;
	opacity: 0;
	font-weight: 600;
	-webkit-text-stroke: rgb(14, 14, 14) 0.016rem;
}

.game-name {
	margin: 0.5rem 0.5rem 0 auto;
	margin-left: auto;
	color: rgb(226, 226, 226);
}

.attribution {
	display: flex;
	justify-content: right;
}

.text-attribution {
	font-size: xx-small;
	color: rgb(226, 226, 226);
	margin: 0 0.5rem 0.5rem auto;
	margin-left: auto;
	display: flex;
	position: fixed;
	bottom: 0;
	text-decoration: none;
	z-index: 21;
}

.text-attribution > a {
	text-decoration: none;
	color: rgb(226, 226, 226);
}

.text-attribution > a:visited {
	text-decoration: none;
	color: rgb(226, 226, 226);
}

.server-status {
	cursor: default;
}

@keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.12;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.12;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.12;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.12;
	}
	100% {
		opacity: 1;
	}
}
.animate-flicker {
	-webkit-animation: flickerAnimation 2s infinite;
	-moz-animation: flickerAnimation 2s infinite;
	-o-animation: flickerAnimation 2s infinite;
	animation: flickerAnimation 2s infinite;
}

@keyframes glowAnimation {
	0% {
		box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
	}
	50% {
		box-shadow: 0px 0px 40px 0px rgba(253, 93, 0, 0.1);
	}
	100% {
		box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
	}
}
@-o-keyframes glowAnimation {
	0% {
		box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
	}
	50% {
		box-shadow: 0px 0px 40px 0px rgba(253, 93, 0, 0.1);
	}
	100% {
		box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
	}
}
@-moz-keyframes glowAnimation {
	0% {
		box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
	}
	50% {
		box-shadow: 0px 0px 40px 0px rgba(253, 93, 0, 0.1);
	}
	100% {
		box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
	}
}
@-webkit-keyframes glowAnimation {
	0% {
		box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
	}
	50% {
		box-shadow: 0px 0px 40px 0px rgba(253, 93, 0, 0.1);
	}
	100% {
		box-shadow: 0px 0px 20px 0px rgba(255, 217, 0, 0.692);
	}
}
.animate-glow {
	-webkit-animation: glowAnimation 3s infinite;
	-moz-animation: glowAnimation 3s infinite;
	-o-animation: glowAnimation 3s infinite;
	animation: glowAnimation 3s infinite;
}

.duel-page {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(
		90deg,
		rgb(226, 226, 226) 0%,
		rgb(226, 226, 226) 49%,
		rgb(14, 14, 14) 50%,
		rgb(14, 14, 14) 100%
	);
	position: absolute;
	visibility: hidden;
	display: flex;
	flex-direction: row;
	z-index: 5;
}

.duel-page-backgrounds {
	overflow: hidden;
}

.opponent-duel-page {
	display: flex;
	width: 50vw;
	height: 100vh;
	background-color: rgb(226, 226, 226);
}

.own-duel-page {
	display: flex;
	width: 50vw;
	height: 100vh;
	background-color: rgb(14, 14, 14);
}

.skewed {
	transform: skew(-30deg);
}

.opponent-card-duel {
	height: 25rem;
	width: 20rem;
	background-color: tomato;
	z-index: 20;
	display: flex;
	transform: rotate(6deg);
	border-radius: 0.5rem;
}

.own-card-duel {
	height: 28rem;
	width: 23rem;
	background-color: skyblue;
	z-index: 20;
	display: flex;
	transform: rotate(-6deg);
	border-radius: 0.5rem;
}

.duel-cards {
	display: flex;
	flex-direction: row;
	position: absolute;
	width: 100vw;
	height: 100vh;
	justify-content: space-evenly;
	align-items: center;
}

.duel-page-backgrounds {
	display: flex;
	flex-direction: row;
}
